@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@theme{
  --color-bg: #1C1C1C;
  --color-dark-bg: #131313;
  --color-primary: #C9F31D;
  --color-secondary: #131313;
  --text-heading: 42px;
  --text-heading-sm: 32px;
  --text-subheading: 32px;
  --text-subheading-sm: 22px;
  --text-body: 16px;
  --text-body-sm: 14px;
  --font-primary: 'Lexend', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --color-html: #DD4B25;
}
.animate-floating {
  animation: floating 2s ease-in-out infinite;
}

.stroke-text {
  -webkit-text-stroke: 1px #C9F31D; /* Lime color */
  color: transparent;
}
.stroke-text-white {
  -webkit-text-stroke: 1px #ffffff; /* Lime color */
  color: transparent;
}
.stroke-text-black {
  -webkit-text-stroke: 1px #000000; /* Lime color */
  color: transparent;
}

@keyframes floating{
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}